.CodeMirror {
  height: 340px;
  color: #fff;
}

.CodeMirror-gutters {
  background-color: #1d1e22 !important;
}
.CodeMirror-scroll {
  background-color: #1d1e22;
}

.CodeMirror-vscrollbar {
  width: 6px;
}
